<ion-view view-title="Данные">
    <ion-content overflow-scroll="true" scroll="true" padding="true" ng-controller="FinishCtrl">
        <div class="bar bar-header">
            <h2 class="title">Куда нам необходимо приехать</h2>
        </div>
        <br>
        <br>
        <br>
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Введите ваш номер телефона" ng-model="phone">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Город" ng-model="city">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Название улицы" ng-model="street">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Номер дома" ng-model="numberHome">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Номер квартиры" ng-model="numberApartment">
            </label>
        </div>
        <div class="button button-block button-balanced" ng-click="finish()">
            Заказать
        </div>
    </ion-content>
</ion-view>