<ion-view view-title="Dashboard">
    <ion-content class="has-header" scroll="false" overflow-scroll="true" padding="true">
        <div ng-controller="DashCtrl">
            <div class="bar bar-header">
                <h2 class="title">Расскажите о своей квартире</h2>
            </div>
            <br>
            <br>
            <h4 align="center">Количество комнат:</h4>
            <div class="button-bar">
                <a class="button" ng-click="room = room - 1">-</a>
                <a class="button">{{room}}</a>
                <a class="button" ng-click="room = room + 1">+</a>
            </div>
            <br>
            <h4 align="center">Количество санузелов:</h4>
            <div class="button-bar">
                <a class="button" ng-click="WC = WC - 1">-</a>
                <a class="button">{{WC}}</a>
                <a class="button" ng-click="WC = WC + 1">+</a>
            </div>
            <br>
            <div class="list">
                <h4 align="center">Укажите площадь вашей квартиры:</h4>
                <label class="item item-input item-select">
                    <div class="input-label">
                        Площадь
                    </div>
                    <select ng-model="scale">
                        <option selected>До 40 квадратных метров</option>
                        <option>от 40-60 квадратных метров</option>
                        <option>от 60-80 квадратных метров</option>
                        <option>Более 80 квадратных метров</option>
                    </select>
                </label>
            </div>
            <div class="bar bar-footer bar-balanced">
                <a class="title" ng-click="next()">Далее</a>
            </div>
        </div>
    </ion-content>
</ion-view>