<ion-view view-title="TypeClean">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div ng-controller="TypeCleanCtrl">
            <div class="bar bar-header">
                <h2 class="title">Выберите тип уборки</h2>
            </div>
            <br>
            <br>
            <br>
            <p>{{numberTypeClean}}</p>
            <button class="button button-block button-stable" ng-click="numberTypeClean = 0">
                Уборка за час
            </button>
            <button class="button button-clear button-positive" ng-click="infoCleanHour()">
                Подробнее
            </button>
            <button class="button button-block button-stable" ng-click="numberTypeClean = 1">
                Генеральная уборка
            </button>
            <button class="button button-clear button-positive" ng-click="infoGeneral()">
                Подробнее
            </button>
            <button class="button button-block button-stable" ng-click="numberTypeClean = 2">
                Уборка после ремонта
            </button>
            <button class="button button-clear button-positive" ng-click="infoRepair()">
                Подробнее
            </button>
            <div class="bar bar-footer">
                <button class="button button-full button-balanced" ng-click="next()">
                    Далее
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>